<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Votre nouveau mot de passe !</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div>Salut {{ user.lastName }} {{ user.firstName }}</div><br>
    	<div>Voici un nouveau mot de passe pour te connecter a ton compte Quizzy :</div>
    	<div>Username : {{ user.username }}</div>
    	<div>Mot de passe : {{ password }}</div><br>
        <div>A très bientot sur Quizzy !</div>
    </body>
</html>